@model WebLMS.Models.CodingHomework

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CodingHomework</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Subject)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Subject)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TemplateCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TemplateCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodingTestType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodingTestType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EntryType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EntryType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EntryMethodName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EntryMethodName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lecture)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lecture.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
